h1, h2, p{
  font-family: 'Bungee', cursive;
}

.row{
padding-top: 20px;
padding-bottom: 20px;
}

.jumbotron{
  padding: 15px;
}

img{
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

span{
  padding-left: 10px;
}
